run = "nix run"
entrypoint = "flake.nix"
modules = ["nix", "nodejs-20"]

[nix]
channel = "stable-24_05"

[agent]
expertMode = true

[[ports]]
localPort = 8080
externalPort = 8080

[workflows]
#runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && go mod tidy"

[workflows.workflow.metadata]
outputType = "console"
